---
layout: default
---

<main>

  <div class="main-content p-0 gap-3 no-background">

    <header class="page-section__title flex-row justify-content-evenly text-start bg-accent_1-400">
      <h3>This is what you can do with MyRSVP.<br> Do you see anything that you need? Give it a try :)</h3>
      <span class="d-flex flex-wrap float-left align-items-center gap-3">
        <a class="btn m-0 p-0" href="https://play.google.com/store/apps/details?id=com.myrsvp" target="_blank">
          <img src="assets/img/Android.svg" style="width: 100px;">
        </a>
        <a class="btn m-0 p-0 disabled" href="#" aria-disabled="true">
          <img src="assets/img/Apple.svg" style="width: 100px;">
        </a>
      </span>
    </header>

    {% include feature_section.html
      title="Personal event website with RSVP module"
      description="Show off your event with a free personal web page.
                    Are you providing additional services to your guests like baby chairs or halal menu?<br/>
                    Great! Your invitees will be able to indicate if they need these services when they RSVP from your invitation page.<br/>"
      img_path="assets/img/feature_1.png" img_alt="Personal event website with RSVP module"
      additional_css="reversed" %}

    {% include feature_section.html
      title="Invitation card editor"
      description="Choose and edit tons of invitation cards from our selection of card templates,
                  we constantly add new ones. If that’s not enough for you, upload your own design!"
      img_path="assets/img/feature_2.png" img_alt="Invitation card editor"
      additional_css="" %}

    {% include feature_section.html
      title="Unlimited co-hosts"
      description="Share the workload with your loved ones! When you add someone to your private invitees list you can also tag them as co-host.
                    They can then add your event to MyRSVP app and they'll see it on the 'co-hosted' page.<br/><br/>
                    Co-hosts can help you with everything from their phones but they won't be able to modify the event details or purchase pro features on your behalf."
      img_path="assets/img/feature_3.png" img_alt="Unlimited co-hosts"
      additional_css="reversed" %}

    {% include feature_section.html
      title="Private invitees list & public link"
      description="A private invitees list allows you to control who's in, and for each person you can choose how to send your invitation (for example whatsapp or mail).<br/>
                    Private invitations contain a unique link relative to that person RSVP, so should't be shared around<br/><br/>
                    Or, you can share a public link, so anyone with the link can reply.
                    In this case you always have control on when to deactivate the public link (for example if you already reached a limit number of guests)."
      img_path="assets/img/feature_4.png" img_alt="Private invitees list & public link"
      additional_css="" %}

    {% include feature_section.html
      title="Add attendees without sending an invitation"
      description="What if you already know that someone is definetly coming and you don't need to send out the invitation,<br/>
                    or if a person is not really tech savy (like most grandmas out there)?<br/>
                    Well, you can <b>add attendees manually</b> and RSVP on their behalf!
                    Just go over the guest list page and tap on the + button :D"
      img_path="assets/img/feature_5.png" img_alt="Add attendees without sending an invitation"
      additional_css="reversed" %}

    {% include feature_section.html
      title="Arrange tables"
      description="Arranging seats for your event has never been easier! Sort out your guests with smart filtering, split groups and move guests across tables.<br>
                    You can search for guests to see where they're seated and you'll also see who has arrived, who's missing and who's is extra while registration progresses!"
      img_path="assets/img/feature_6.png" img_alt="Arrange tables"
      additional_css="" %}

    {% include feature_section.html
      title="Guest registration & last-minute changes"
      description="It's the big day! A guest brought extra people? Someone is missing?<br/>
                    No worries! you can register only individual people within a group, or quicly add extra guests and rearrange seats accordingly!<br/><br/>
                    And you don't have to do it alone! The guest registration list is synced across yours and your co-host devices,
                    so you will work on the same list, in real time ;)"
      img_path="assets/img/feature_7.png" img_alt="Guest registration & last-minute changes"
      additional_css="reversed" %}

    {% include feature_section.html
      title="Guests self-registration"
      description="In addition to traditional registration, guests can also self-register their presence by simply following the link
                    on their RSVP confirmation email.<br/><br/>
                    This function will be active only on event day and you can check the registration confirmation on their phone.<br/>
                    That's all! You will see them as registered on your registration list ;)"
      img_path="assets/img/feature_8.png" img_alt="Guests self-registration"
      additional_css="" %}

    {% include feature_section.html
      title="Export guests list and table plan to PDF"
      description="Export your guest list and seating arrangements to detailed pdf files.<br/>
                    For the guest list, you have the option to organize it by guests relationship or simply by alphabetical order."
      img_path="assets/img/feature_9.png" img_alt="Export guests list and table plan to PDF"
      additional_css="reversed" %}

    {% include feature_section.html
      title="Angpao Registry"
      description="Your guests have been generous and you need to keep track of all those envelops?
                    Divide them among your co-hosts so everyone can quickly record guests' angpows amounts on a shared list!"
      img_path="assets/img/feature_10.png" img_alt="Angpao Registry"
      additional_css="" %}

    {% include feature_section.html
      title="Recurrent events"
      description="What about all those small recurrent occasions like weekly futsal or monthly company dinner?<br/>
                    Just mark an event as recurrent and set its timing: once that event its over,
                    MyRSVp will automatically update the time, keep your invitees list and reset the attendance list!"
      img_path="assets/img/feature_11.png" img_alt="Recurrent events"
      additional_css="reversed" %}

    {% include feature_section.html
      title="Smart filters"
      description="You will be dealing with long lists of names so it is important that you find who you're looking for quickly.
                    Filter by alphabet, attendance status, RSVP preferences, and relationship."
      img_path="assets/img/feature_12.png" img_alt="Smart filters"
      additional_css="" %}

  </div>
</main>
