---
layout: app_preview
---

<nav class="justify-content-center">
  <img class="img--36" src="assets/img/logo_colored.png">
</nav>
  
<main class="invitation-preview-page">

  <div class="col-12 col-sm-6 gap-3">
    <article class="card gap-3">
      <header class="card-header p-0">
        <img src="assets/img/app-preview/main_img.png" alt="">
      </header>
      <div class="card-body align-items-center text-center">
        <h1><i class="no-bold">Dear</i> Ms Kimberly Siah</h1>
        <p>Please RSVP before 1 May 2019</p>
        <span class="d-flex gap-2 py-3">
          <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_agree">I'll come</button>
          <button class="btn btn-tertiary" data-bs-toggle="modal" data-bs-target="#modal_refuse">I can't make it</button>
        </span>
      </div>
    </article>

    <article class="card gap-3">
      <header class="card-header p-0">
        <img src="assets/img/app-preview/wedding.png" alt="wedding">
      </header>
      <div class="card-body mb-4">
        <h3>David and Carmen tied the Knot!</h3>
        <p>
          You work, you play and then, one day... love just happens!
          <br><br>
          David and Carmen invite you to be a witness to one of life's loveliest surprises as we will celebrate until late all together.
        </p>
      </div>
    </article>
  </div>

  <div class="col-12 col-sm-6 gap-3">

    <article class="card gap-3">
      <header class="card-header p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31870.66938643811!2d101.7194538!3d3.1385904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc363a60329f7d%3A0xf88255797e745640!2sByblos+Caf%C3%A9+%26+Lounge!5e0!3m2!1sit!2sit!4v1558569567989!5m2!1sit!2sit" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </header>
      <div class="card-body align-items-center text-center mb-4">
        <img class="img--24" src="assets/img/app-preview/location.png" alt="location icon">
        <h4>Lucky Ocean Banquet Hall</h4>
        <p>[ Full address of the venue ]</p>
        <hr>

        <img class="img--24" src="assets/img/app-preview/calendar.png" alt="calendar icon">
        <h4>Friday 7 of June 2019</h4>
        <p>Starting at 6pm</p>
        <hr>

        <img class="img--24" src="assets/img/app-preview/info.png" alt="info icon">
        <p>
          For special needs you can also contact us at: 1234 1234567<br/><br/>
          The venue has lot of parking!
        </p>
      </div>
    </article>

    <article class="card gap-3">
      <div class="card-body align-items-center text-center my-4">
        <h4>You can't decide yet?</h4>
        <p>Save this event on MyRsvp app using this code:</p>
        <p><b>[ Event Code ]</b></p>
        <hr>

        <img class="img--48" src="assets/img/logo_colored.png" alt="logo">
        <p>Do you need a complete guest management solution for your social events?</p>
        <a href="{{site.base_url}}/" class="btn btn-secondary">Learn more</a>
      </div>
    </article>
  </div>

</main>

<!-- Modals agree -->
{% include modals/modal_agree.html %}
{% include modals/modal_refuse.html %}
{% include modals/modal_confirmation.html %}

