//  SIZE
.min-w-0 {
  min-width: fit-content;
}
.min-h-0 {
  min-height: fit-content;
}

//  BACKGROUND COLORS:
.no-background {
  background-color: transparent;
  background-image: none;
}

.reversed {
  flex-direction: row-reverse;
}

.no-bold {
  font-weight: $font-weight-standard;
}